/* sky-sun */
:root {
  --main-color: #adf;
  --main-darker: #8cd;
  --main-faded: #bef;
  --alt-color: #ffa;
  --alt-darker: #dd8;
  --alt-faded: #ffc;
}
/* */


body {
  margin: 0pt auto 0pt auto;
  padding: 1in;
  width: 48in;
  height: 36in;
  border: 2pt dotted black;
  /*box-sizing: border-box;*/
  display: flex;
  flex-flow: column nowrap;
  font-family: sans-serif; /* TODO */
}

@page {
  size: 48in 36in;
  margin: 0pt;
}

@media print {
  body {
    border: none;
  }
}

.frame {

}

header {
  text-align: center;
  margin-bottom: 0.5in;
  flex-grow: 0;
}

header .title {
  font-size: 120pt;
  margin: 0pt 0pt 16pt 0pt;
  padding: 0pt;
}

header p.author {
  font-size: 72pt;
  display: inline-block;
  margin: 0pt 30pt 0pt 30pt;
  padding: 0pt;
}

.body {
  width: 100%;
  margin: 0pt;
  padding: 0pt;
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  font-size: 40pt;
  line-height: 130%;
  text-align: justify;
}

.smaller {
  font-size: 34pt;
}

.footnote {
  font-size: 24pt;
  position: absolute;
  left: 0pt;
  bottom: 0pt;
  padding: 0pt 0.5in 0pt 0.5in;
}

.body>div {
  padding: 0pt 0.5in 0.5in 0.5in;
  margin: 0pt;
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 1pt;
}

.col {
  position: relative; /* set up containing block for interior elements */
}

/*
.body>div:first-child {
  border-right: 4pt solid black;
}

.body>div:last-child {
  border-left: 4pt solid black;
}
*/

.body>div p {
  margin-top: 0pt;
  margin-bottom: 24pt;
}

.body h1 { font-size: 64pt; font-weight: bold; margin: 12pt 0pt 24pt 0pt; }
.body h2 { font-size: 52pt; font-weight: bold; margin: 12pt 0pt 24pt 0pt; }
.body h3 { font-size: 47pt; font-weight: bold; margin: 10pt 0pt 20pt 0pt; }
.body h4 { font-size: 44pt; font-weight: bold; margin: 10pt 0pt 20pt 0pt; }
.body h5 { font-size: 43pt; font-weight: bold; margin: 8pt 0pt 16pt 0pt; }
.body h6 { font-size: 42pt; font-weight: bold; margin: 8pt 0pt 16pt 0pt; }

.body ul, .body ol {
  margin: 24pt 0pt 24pt 0pt;
  padding-left: 56pt;
}

.body ul ul, .body ol ol, .body ul ol, .body ol ul {
  margin: 0pt;
}

.body li {
  margin: 16pt 0pt 16pt 0pt;
}

.fig {
  text-align: center;
  display: block;
  margin: 24pt 0pt 24pt 0pt;
  font-size: 36pt;
  width: 100%;
}

.fig img {
  width: 48%;
  display: inline;
}

.ragged {
  text-align: left;
}

.section {
  border-radius: 24pt;
  padding: 24pt;
  background-color: var(--main-color);
  border-bottom: 8pt solid var(--main-darker);
  border-right: 8pt solid var(--main-darker);
}

.section.alt {
  background-color: var(--alt-color);
  border-bottom: 8pt solid var(--alt-darker);
  border-right: 8pt solid var(--alt-darker);
}

.doublewide {
  display: block;
  width: 200%;
}

a:link, a:visited {
  color: #008;
  font-weight: bold;
  text-decoration: none;
}

a:link:after, a:visited:after {
  aria-hidden: true;
  content: '\f35d';
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  margin-left: 0.2em;
  margin-right: 0.2em;
}
